
<h1>My Posts</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th>User</th>
      <th>Title</th>
      <th>Content</th>
      <th>Private</th>
    </tr>
  </thead>
  <tbody>
<% @my_posts.each do |post| %>
  <tr>
    <td><%= post.basic_user.name %></td>
    <td><%= post.title %></td>
    <td><%= post.content %></td>
    <td><%= post.private %></td>
    <td><%= link_to 'Show', post %></td>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>
    <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</tbody>
</table>

<br />

<h1>Public posts</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th>User</th>
      <th>Title</th>
      <th>Content</th>
    </tr>
  </thead>
  <tbody>
<% @public_posts.each do |post| %>
  <% if post.basic_user != current_basic_user %>
    <tr>
      <td><%= post.basic_user.name %></td>
      <td><%= post.title %></td>
      <td><%= post.content %></td>
      <td><%= link_to 'Show', post %></td>
    </tr>
  <% end %>
<% end %>
</tbody>
</table>

<br/>

<%= link_to 'New Post', new_post_path %>
