<div class="hero-unit hero-blue text-center">
    <h1>Chase's Mini Twitter App!</h1>
  </div>


<div class="page-header"><h1>My Posts<%= link_to 'New Post', new_post_path, class: "btn btn-primary head-button" %></h1>
</div>
<% @my_posts.each do |post| %>
  <div class="post">
      <p><strong><%= post.basic_user.name %></strong></p>
      <p><%= post.content %></p>
      <p><small>
        <% if post.private %>
        Private
        <% else %>
        Public
        <% end %>
      </small></p>
      <small class="options">
      <%= link_to "#{time_ago_in_words(post.created_at)} ago", post %> 
      <span class= "admin">
       | <%= link_to 'Edit', edit_post_path(post) %> |
        <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
      </span>
      </small>
  </div>
<% end %>

<br />

<h1 class="page-header">Public Community Posts</h1>
<% @public_posts.each do |post| %>
  <% if post.basic_user != current_basic_user %>
    <div class= "post">
      <p><strong><%= post.basic_user.name %></strong></p>
      <p><%= post.content %></p>
      <small class= "options"><%= link_to "#{time_ago_in_words(post.created_at)} ago", post %></small>
    </div>
  <% end %>
<% end %>

<br/>

